@page "/help"
<div class="container-md">
    <h1>Как получить доступ</h1>
    <ul>
        <li><p>Если вы уже пользуетесь <b>рабочим компьютером</b> АО "ВМЗ", то используйте <b>те же имя и пароль</b>, что и для входа в рабочий компьютер.</p></li>
        <li><p>В противном случае необходимо обратиться в <b>Отдел ИТ</b> для регистрации нового пользователя.</p></li>
    </ul>
    <h1>Как выполнить вход</h1>
    <ul>
        <li><p>Для того чтобы выполнить вход необходимо указать <b>имя входа и пароль</b>.</p></li>
        <li><p>Если вы <b>не уверены</b> в правильности написания имени входа, вместо этого начните набирать <b>свои ФИО в произвольной форме</b> и затем выберите <b>своё имя в появившемся списке</b>. В случае правильного заполнения поле будет выделено <b>зелёным цветом</b>.</p></li>
        <li><p>После ввода имени и пароля необходимо нажать кнопку <b>"Войти"</b>. Если имя или пароль были указаны <b>неверно, появится сообщение</b> об ошибке входа. В ином случае форма входа пропадёт и появится <b>либо запрошенный чертёж, либо пустая страница</b>.</p></li>
        <li><p>После этого с системой можно работать в обычном порядке, <b>повторный ввод</b> пароля на этом устройстве <b>не потребуется</b>.</p></li>
    </ul>
    <a href="/">Вернуться на главную страницу</a>
</div>