@inherits LayoutComponentBase

@using dwg2img.Pages

<PageTitle>auth</PageTitle>

<TokenRefreshComponent />

<div class="page" @oncontextmenu:preventDefault @oncontextmenu:stopPropagation @oncontextmenu="PreventMenu">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void PreventMenu() { }
}